@font-face {
    font-family: 'Giaza Stencil';
    src: url('GiazaStencil.woff2') format('woff2'),
        url('GiazaStencil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

